{% extends 'core/base.html' %}
{% block title %}Home{% endblock %}
{% block body_class %}bg-image{% endblock %}


{% block content %}
<div class="text-center">
    <h1 class="display-4" style="font-weight: 900;">Welcome to the Transportation System</h1>

    <div class="mt-4">
        <a href="{% url 'trip_list' %}" class="btn btn-primary m-2">View Available Trips</a>
        <a href="{% url 'login' %}" class="btn btn-secondary m-2">Login</a>
        <a href="{% url 'signup' %}" class="btn btn-success m-2">Sign Up</a>
    </div>
</div>
{% endblock %}

